@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Caucasian+Albanian&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}
p {
    line-height: 1.5;
    font-size: 16px;
}


li {
    list-style-type: none;
}

section {
    background-color: rgb(245, 245, 245);
}

.title {
    font-size: 76px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;   
}

.color {
    color: #f06449;
}

.click {
    transition: all 300ms ease;
}
.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}
/*LANDING PAGE*/

#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 450px;
}

.social__list {
    margin-top: 16px;
    display: flex;
}

.social__link {
    background-color: #f06449;
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.mail__btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    position: absolute;
    bottom: 32px;
    right: 40px;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #242424;
}

.scroll__icon:after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(-3px);
    }
}

/*NAVIGATION*/

#personal-logo {
    width: 50px;
    height: 50px;
    filter: invert(1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    padding: 0 20px;

}

.nav__link {
    margin: 0 12px;

}

.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.nav__link--list {
    display: flex;
}

.fa-adjust {
    font-size: 20px;
}